- name: {{ host_to_manage.name }}
  state: {{ host_to_manage.state }}
  dns: {{ host_to_manage.dns | default("no") }}
  comment: "{{ infoblox_comment }}"
  network_interfaces:
{% for vlan in host_to_manage.vlans %}
{% set vlan_fetched =  infoblox_vlans
                       | selectattr("name", "equalto", vlan)
                       | list %}
{% if vlan_fetched | length > 0 %}
{% set gateway_pfx = vlan_fetched.0.gateway
                     + "/"
                     + vlan_fetched.0.cidr | string %}
{% set vlan_network = gateway_pfx | ipaddr("network/prefix") %}
    - vlan: {{ vlan_fetched[0].name }}
      network: {{ vlan_network }}
{% set ip_retrieved = lookup("nios_next_ip",
                             vlan_network,
                             provider=infoblox_nios_provider) %}
      ipv4addr: {{ ip_retrieved[0] }}
{% endif %}
{% endfor %}
